<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">

    .image_class{
      border: 2px solid ;
      border-radius: 5%;

    }

    .p {
  color: white;
  text-align: center;
  margin-top: 5px;

      }





  </style>
  <title>Waves</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Waves</a>
    </div>

  </div>
</nav>
  
<form action="/result" method="POST">
  
  <button type="submit" class="btn btn-info" style="margin-top:320px; margin-left:620px"
  data-toggle="collapse" data-target="#demo">Start Matching</button>
</form>
<div id="demo" class="collapse" style="margin-top:20px; margin-left:550px">
You will be redirected shortly...
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <p align="center" class="margins" style="color: white"> &copy 2019 WAVES</p>
  </div>
</nav>

</body>
</html>
